In [1]:
import pandas as pd

In [2]:
df_int = pd.read_csv(
        '/home/jsenadesouza/DA-healthy2patient/data/clinical_data/2016-20119_clinical_data_outcomes.csv')
df_pain = pd.read_csv(
        '/home/jsenadesouza/DA-healthy2patient/data/clinical_data/PAINandADAPT_clinical_data_outcomes.csv')

In [3]:
df_int.head()

,timestamp,patient_id,heart_rate,temp_farenheit,lenght_stay,is_dead,pain_score,sofa_score,blood_pressure,braden_score,spo2,cam
0,2017-03-17 23:26:00,14,104.0,98.8,17,0,5.0,13.0,97.0,13.0,100.0,0.0
1,2016-11-25 22:00:00,8,98.0,98.4,22,0,-1.0,7.0,74.0,10.0,98.5,0.0
2,2018-09-23 09:30:00,81,107.0,99.0,9,0,0.0,10.0,79.0,19.0,99.0,0.0
3,2018-06-09 06:00:00,59,94.0,97.7,66,0,0.0,3.0,82.0,13.0,100.0,0.0
4,2018-10-12 12:00:00,89,98.0,97.2,17,1,0.0,4.0,70.0,20.0,99.0,0.0

In [6]:
df_1 = df_int["timestamp"][df_int["pain_score"] != -1.0]

In [9]:
df_2 = df_pain["timestamp"][df_pain["pain_score"] != -1.0]

In [22]:
times = {"redondo": 0, "quebrado":0}
for x in df_1:
    if x.split(":")[-2] == "00":
        times["redondo"] += 1
    else:
        times["quebrado"] += 1
for x in df_2:
    if x.split(":")[-2] == "00":
        times["redondo"] += 1
    else:
        times["quebrado"] += 1

In [23]:
times

{'redondo': 69491, 'quebrado': 106423}

In [21]:
df_1[0].split(":")

['2017-03-17 23', '26', '00']